/*
 * Open Service Broker API
 * The Open Service Broker API defines an HTTP(S) interface between Platforms and Service Brokers.
 *
 * OpenAPI spec version: master - might contain changes that are not yet released
 * Contact: open-service-broker-api@googlegroups.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AsyncOperation;
import io.swagger.client.model.Error;
import io.swagger.client.model.LastOperationResource;
import io.swagger.client.model.ServiceInstanceAsyncOperation;
import io.swagger.client.model.ServiceInstanceProvisionRequestBody;
import io.swagger.client.model.ServiceInstanceProvisionResponse;
import io.swagger.client.model.ServiceInstanceResource;
import io.swagger.client.model.ServiceInstanceUpdateRequestBody;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ServiceInstancesApi {
    private ApiClient apiClient;

    public ServiceInstancesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ServiceInstancesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for serviceInstanceDeprovision
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId id of instance being deleted (required)
     * @param serviceId id of the service associated with the instance being deleted (required)
     * @param planId id of the plan associated with the instance being deleted (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous deprovision supported (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceDeprovisionCall(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/service_instances/{instance_id}"
            .replaceAll("\\{" + "instance_id" + "\\}", apiClient.escapeString(instanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (serviceId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("service_id", serviceId));
        if (planId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("plan_id", planId));
        if (acceptsIncomplete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accepts_incomplete", acceptsIncomplete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xBrokerAPIVersion != null)
        localVarHeaderParams.put("X-Broker-API-Version", apiClient.parameterToString(xBrokerAPIVersion));
        if (xBrokerAPIOriginatingIdentity != null)
        localVarHeaderParams.put("X-Broker-API-Originating-Identity", apiClient.parameterToString(xBrokerAPIOriginatingIdentity));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceInstanceDeprovisionValidateBeforeCall(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'xBrokerAPIVersion' is set
        if (xBrokerAPIVersion == null) {
            throw new ApiException("Missing the required parameter 'xBrokerAPIVersion' when calling serviceInstanceDeprovision(Async)");
        }
        // verify the required parameter 'instanceId' is set
        if (instanceId == null) {
            throw new ApiException("Missing the required parameter 'instanceId' when calling serviceInstanceDeprovision(Async)");
        }
        // verify the required parameter 'serviceId' is set
        if (serviceId == null) {
            throw new ApiException("Missing the required parameter 'serviceId' when calling serviceInstanceDeprovision(Async)");
        }
        // verify the required parameter 'planId' is set
        if (planId == null) {
            throw new ApiException("Missing the required parameter 'planId' when calling serviceInstanceDeprovision(Async)");
        }
        
        com.squareup.okhttp.Call call = serviceInstanceDeprovisionCall(xBrokerAPIVersion, instanceId, serviceId, planId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * deprovision a service instance
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId id of instance being deleted (required)
     * @param serviceId id of the service associated with the instance being deleted (required)
     * @param planId id of the plan associated with the instance being deleted (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous deprovision supported (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object serviceInstanceDeprovision(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete) throws ApiException {
        ApiResponse<Object> resp = serviceInstanceDeprovisionWithHttpInfo(xBrokerAPIVersion, instanceId, serviceId, planId, xBrokerAPIOriginatingIdentity, acceptsIncomplete);
        return resp.getData();
    }

    /**
     * deprovision a service instance
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId id of instance being deleted (required)
     * @param serviceId id of the service associated with the instance being deleted (required)
     * @param planId id of the plan associated with the instance being deleted (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous deprovision supported (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> serviceInstanceDeprovisionWithHttpInfo(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete) throws ApiException {
        com.squareup.okhttp.Call call = serviceInstanceDeprovisionValidateBeforeCall(xBrokerAPIVersion, instanceId, serviceId, planId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * deprovision a service instance (asynchronously)
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId id of instance being deleted (required)
     * @param serviceId id of the service associated with the instance being deleted (required)
     * @param planId id of the plan associated with the instance being deleted (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous deprovision supported (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceDeprovisionAsync(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceInstanceDeprovisionValidateBeforeCall(xBrokerAPIVersion, instanceId, serviceId, planId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceInstanceGet
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to fetch (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceGetCall(String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, String serviceId, String planId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/service_instances/{instance_id}"
            .replaceAll("\\{" + "instance_id" + "\\}", apiClient.escapeString(instanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (serviceId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("service_id", serviceId));
        if (planId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("plan_id", planId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xBrokerAPIVersion != null)
        localVarHeaderParams.put("X-Broker-API-Version", apiClient.parameterToString(xBrokerAPIVersion));
        if (xBrokerAPIOriginatingIdentity != null)
        localVarHeaderParams.put("X-Broker-API-Originating-Identity", apiClient.parameterToString(xBrokerAPIOriginatingIdentity));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceInstanceGetValidateBeforeCall(String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, String serviceId, String planId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'xBrokerAPIVersion' is set
        if (xBrokerAPIVersion == null) {
            throw new ApiException("Missing the required parameter 'xBrokerAPIVersion' when calling serviceInstanceGet(Async)");
        }
        // verify the required parameter 'instanceId' is set
        if (instanceId == null) {
            throw new ApiException("Missing the required parameter 'instanceId' when calling serviceInstanceGet(Async)");
        }
        
        com.squareup.okhttp.Call call = serviceInstanceGetCall(xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, serviceId, planId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * get a service instance
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to fetch (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @return ServiceInstanceResource
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ServiceInstanceResource serviceInstanceGet(String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, String serviceId, String planId) throws ApiException {
        ApiResponse<ServiceInstanceResource> resp = serviceInstanceGetWithHttpInfo(xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, serviceId, planId);
        return resp.getData();
    }

    /**
     * get a service instance
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to fetch (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @return ApiResponse&lt;ServiceInstanceResource&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ServiceInstanceResource> serviceInstanceGetWithHttpInfo(String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, String serviceId, String planId) throws ApiException {
        com.squareup.okhttp.Call call = serviceInstanceGetValidateBeforeCall(xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, serviceId, planId, null, null);
        Type localVarReturnType = new TypeToken<ServiceInstanceResource>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * get a service instance (asynchronously)
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to fetch (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceGetAsync(String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, String serviceId, String planId, final ApiCallback<ServiceInstanceResource> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceInstanceGetValidateBeforeCall(xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, serviceId, planId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ServiceInstanceResource>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceInstanceLastOperationGet
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to find last operation applied to it (required)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @param operation a provided identifier for the operation (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceLastOperationGetCall(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String operation, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/service_instances/{instance_id}/last_operation"
            .replaceAll("\\{" + "instance_id" + "\\}", apiClient.escapeString(instanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (serviceId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("service_id", serviceId));
        if (planId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("plan_id", planId));
        if (operation != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("operation", operation));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xBrokerAPIVersion != null)
        localVarHeaderParams.put("X-Broker-API-Version", apiClient.parameterToString(xBrokerAPIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceInstanceLastOperationGetValidateBeforeCall(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String operation, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'xBrokerAPIVersion' is set
        if (xBrokerAPIVersion == null) {
            throw new ApiException("Missing the required parameter 'xBrokerAPIVersion' when calling serviceInstanceLastOperationGet(Async)");
        }
        // verify the required parameter 'instanceId' is set
        if (instanceId == null) {
            throw new ApiException("Missing the required parameter 'instanceId' when calling serviceInstanceLastOperationGet(Async)");
        }
        
        com.squareup.okhttp.Call call = serviceInstanceLastOperationGetCall(xBrokerAPIVersion, instanceId, serviceId, planId, operation, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * get the last requested operation state for service instance
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to find last operation applied to it (required)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @param operation a provided identifier for the operation (optional)
     * @return LastOperationResource
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public LastOperationResource serviceInstanceLastOperationGet(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String operation) throws ApiException {
        ApiResponse<LastOperationResource> resp = serviceInstanceLastOperationGetWithHttpInfo(xBrokerAPIVersion, instanceId, serviceId, planId, operation);
        return resp.getData();
    }

    /**
     * get the last requested operation state for service instance
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to find last operation applied to it (required)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @param operation a provided identifier for the operation (optional)
     * @return ApiResponse&lt;LastOperationResource&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<LastOperationResource> serviceInstanceLastOperationGetWithHttpInfo(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String operation) throws ApiException {
        com.squareup.okhttp.Call call = serviceInstanceLastOperationGetValidateBeforeCall(xBrokerAPIVersion, instanceId, serviceId, planId, operation, null, null);
        Type localVarReturnType = new TypeToken<LastOperationResource>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * get the last requested operation state for service instance (asynchronously)
     * 
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to find last operation applied to it (required)
     * @param serviceId id of the service associated with the instance (optional)
     * @param planId id of the plan associated with the instance (optional)
     * @param operation a provided identifier for the operation (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceLastOperationGetAsync(String xBrokerAPIVersion, String instanceId, String serviceId, String planId, String operation, final ApiCallback<LastOperationResource> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceInstanceLastOperationGetValidateBeforeCall(xBrokerAPIVersion, instanceId, serviceId, planId, operation, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<LastOperationResource>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceInstanceProvision
     * @param body parameters for the requested service instance provision (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to provision (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceProvisionCall(ServiceInstanceProvisionRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v2/service_instances/{instance_id}"
            .replaceAll("\\{" + "instance_id" + "\\}", apiClient.escapeString(instanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (acceptsIncomplete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accepts_incomplete", acceptsIncomplete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xBrokerAPIVersion != null)
        localVarHeaderParams.put("X-Broker-API-Version", apiClient.parameterToString(xBrokerAPIVersion));
        if (xBrokerAPIOriginatingIdentity != null)
        localVarHeaderParams.put("X-Broker-API-Originating-Identity", apiClient.parameterToString(xBrokerAPIOriginatingIdentity));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceInstanceProvisionValidateBeforeCall(ServiceInstanceProvisionRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling serviceInstanceProvision(Async)");
        }
        // verify the required parameter 'xBrokerAPIVersion' is set
        if (xBrokerAPIVersion == null) {
            throw new ApiException("Missing the required parameter 'xBrokerAPIVersion' when calling serviceInstanceProvision(Async)");
        }
        // verify the required parameter 'instanceId' is set
        if (instanceId == null) {
            throw new ApiException("Missing the required parameter 'instanceId' when calling serviceInstanceProvision(Async)");
        }
        
        com.squareup.okhttp.Call call = serviceInstanceProvisionCall(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * provision a service instance
     * 
     * @param body parameters for the requested service instance provision (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to provision (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @return ServiceInstanceProvisionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ServiceInstanceProvisionResponse serviceInstanceProvision(ServiceInstanceProvisionRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete) throws ApiException {
        ApiResponse<ServiceInstanceProvisionResponse> resp = serviceInstanceProvisionWithHttpInfo(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete);
        return resp.getData();
    }

    /**
     * provision a service instance
     * 
     * @param body parameters for the requested service instance provision (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to provision (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @return ApiResponse&lt;ServiceInstanceProvisionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ServiceInstanceProvisionResponse> serviceInstanceProvisionWithHttpInfo(ServiceInstanceProvisionRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete) throws ApiException {
        com.squareup.okhttp.Call call = serviceInstanceProvisionValidateBeforeCall(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, null, null);
        Type localVarReturnType = new TypeToken<ServiceInstanceProvisionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * provision a service instance (asynchronously)
     * 
     * @param body parameters for the requested service instance provision (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to provision (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceProvisionAsync(ServiceInstanceProvisionRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ApiCallback<ServiceInstanceProvisionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceInstanceProvisionValidateBeforeCall(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ServiceInstanceProvisionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceInstanceUpdate
     * @param body parameters for the requested service instance update (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to update (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceUpdateCall(ServiceInstanceUpdateRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v2/service_instances/{instance_id}"
            .replaceAll("\\{" + "instance_id" + "\\}", apiClient.escapeString(instanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (acceptsIncomplete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accepts_incomplete", acceptsIncomplete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xBrokerAPIVersion != null)
        localVarHeaderParams.put("X-Broker-API-Version", apiClient.parameterToString(xBrokerAPIVersion));
        if (xBrokerAPIOriginatingIdentity != null)
        localVarHeaderParams.put("X-Broker-API-Originating-Identity", apiClient.parameterToString(xBrokerAPIOriginatingIdentity));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceInstanceUpdateValidateBeforeCall(ServiceInstanceUpdateRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling serviceInstanceUpdate(Async)");
        }
        // verify the required parameter 'xBrokerAPIVersion' is set
        if (xBrokerAPIVersion == null) {
            throw new ApiException("Missing the required parameter 'xBrokerAPIVersion' when calling serviceInstanceUpdate(Async)");
        }
        // verify the required parameter 'instanceId' is set
        if (instanceId == null) {
            throw new ApiException("Missing the required parameter 'instanceId' when calling serviceInstanceUpdate(Async)");
        }
        
        com.squareup.okhttp.Call call = serviceInstanceUpdateCall(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * update a service instance
     * 
     * @param body parameters for the requested service instance update (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to update (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object serviceInstanceUpdate(ServiceInstanceUpdateRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete) throws ApiException {
        ApiResponse<Object> resp = serviceInstanceUpdateWithHttpInfo(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete);
        return resp.getData();
    }

    /**
     * update a service instance
     * 
     * @param body parameters for the requested service instance update (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to update (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> serviceInstanceUpdateWithHttpInfo(ServiceInstanceUpdateRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete) throws ApiException {
        com.squareup.okhttp.Call call = serviceInstanceUpdateValidateBeforeCall(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * update a service instance (asynchronously)
     * 
     * @param body parameters for the requested service instance update (required)
     * @param xBrokerAPIVersion version number of the Service Broker API that the Platform will use (required)
     * @param instanceId instance id of instance to update (required)
     * @param xBrokerAPIOriginatingIdentity identity of the user that initiated the request from the Platform (optional)
     * @param acceptsIncomplete asynchronous operations supported (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceInstanceUpdateAsync(ServiceInstanceUpdateRequestBody body, String xBrokerAPIVersion, String instanceId, String xBrokerAPIOriginatingIdentity, Boolean acceptsIncomplete, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceInstanceUpdateValidateBeforeCall(body, xBrokerAPIVersion, instanceId, xBrokerAPIOriginatingIdentity, acceptsIncomplete, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
